<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src='../js/index.js'></script> -->
    <title>Syllabary Poem Generator</title>
</head>
<body>
    <div class='main-container'>
        <h1>Syllabary Poem Generator</h1>
        <div class='content-container'>
            <div class='entry-container' id='numOfPoemsContainer'>
                <label for="numOfPoems">How many poems do you want to generate?</label>
                <input type="text" id='numOfPoems'>
                <div id="numPoemsError" class='errorMessage'></div>
            </div>
            <div class='entry-container' id='startingPeom'>
                <label for="startingPoem">What poem do you want to select?</label>
                <input type="text" id='startingPoem'>
                <p>Enter poem in format x-x-x (For example: 2-10-15)</p>
                <button id='viewListBtn'>View Poem List</button>
                <div id="startingPoemError" class='errorMessage'></div>
            </div>
            <div class='radio-container'>
                <label for="orderForwards">Do you want the output poem list to start or end with the selected poem?</label>
                <div class='radio-subcontainer'>
                    <label class="radio">
                        <span class="radio__input">
                            <input type="radio" name="poemOrderRadio" id="poemOrder" value='Starting' checked='checked'/>
                            <span class="radio__control"></span>
                        </span>
                        <span class="radio__label">Start</span>
                    </label>
                    <label class="radio">
                        <span class="radio__input">
                            <input type="radio" name="poemOrderRadio" id="poemOrder" value='Ending'/>
                            <span class="radio__control"></span>
                        </span>
                        <span class="radio__label">End</span>
                    </label>
                </div>
                <div id="poemOrderError" class='errorMessage'></div>
            </div>
            <div id='submitLabel'>
                <button id='submitBtn'>Submit</button>
            </div>
        </div>
    </div>
</body>
</html>